* {
  box-sizing: border-box; }

.authContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 8%; }

.authTitle {
  display: flex;
  justify-content: center; }

.authTitleIcon {
  border: 4px solid #107915;
  border-radius: 50%;
  box-shadow: 0px 0px 30px #107915, 0px 10px 10px #107915;
  cursor: pointer;
  margin-bottom: 1rem;
  width: 120px;
  height: 120px;
  background: no-repeat;
  background-image: url("../resource/avatar.svg"); }

.authTitleText {
  font-size: 28pt;
  color: #5a5a5a;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: .5rem 0 .5rem 0;
  margin: 0;
  letter-spacing: 2px; }

.authFields {
  display: flex;
  flex-direction: column; }

.authEmailWrap {
  padding: 1rem 0 1rem 0; }

.authEmail {
  margin: 0;
  padding: 0;
  font-size: 16pt;
  color: #5a5a5a;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  display: block;
  width: 100%;
  background: 0 0;
  background-color: #e7e3e3;
  height: 62px;
  padding: 0 20px 0 38px;
  outline: none;
  border: 2px solid #e7e3e3;
  border-radius: 5px;
  transition: 1s; }
  .authEmail:focus {
    border: 2px solid #107915; }
  .authEmail::placeholder {
    color: #787878; }

.authPasswordWrap {
  padding: 1rem 0 1rem 0; }

.authPassword {
  margin: 0;
  padding: 0;
  font-size: 16pt;
  color: #5a5a5a;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  display: block;
  width: 100%;
  background: 0 0;
  background-color: #e7e3e3;
  height: 62px;
  padding: 0 20px 0 38px;
  outline: none;
  border: 2px solid #e7e3e3;
  border-radius: 5px;
  transition: 1s; }
  .authPassword:focus {
    border: 2px solid #107915; }
  .authPassword::placeholder {
    color: #787878; }

.authButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.signInBtn {
  font-size: 16pt;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  flex-grow: 1;
  width: 100%;
  margin: 2rem 1rem 1rem 0;
  padding: 1rem;
  background-color: #107915;
  border: none;
  border-radius: 5px; }
  .signInBtn:hover {
    background-color: #0d6211; }

.signUpBtn {
  font-size: 16pt;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  flex-grow: 1;
  width: 100%;
  margin: 2rem 0 1rem 1rem;
  padding: 1rem;
  background-color: #107915;
  border: none;
  border-radius: 5px; }
  .signUpBtn:hover {
    background-color: #0d6211; }

body {
  margin: 0;
  padding: 0; }

#root {
  min-height: 100vh;
  min-width: 100vw; }

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #107915;
  box-shadow: 0px 0px 10px 6px #5a5a5a;
  z-index: 2; }

.headerText {
  display: flex;
  flex-direction: row; }
  .headerText h1 {
    font-size: 24pt;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: .5rem .5rem .5rem 1rem;
    margin: 0; }

.headerUser {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #107915; }
  .headerUser .headerUserButtons {
    display: flex;
    flex-direction: row; }
  .headerUser h3 {
    font-size: 12pt;
    color: white;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding: .25rem;
    padding-right: .5rem;
    margin: 0;
    padding-left: 30px;
    background: url("../resource/miniAvatar.svg") left center no-repeat; }
  .headerUser h4 {
    font-size: 11pt;
    color: white;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding: .1rem;
    margin: 0 .5rem .25rem 0; }
  .headerUser button {
    font-size: 10pt;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    border: none;
    border-radius: 15%;
    outline: none !important;
    padding: .1rem;
    margin: 0 .5rem .2rem 0;
    color: inherit;
    background-color: transparent;
    color: white;
    border-radius: 50%;
    cursor: pointer; }
    .headerUser button:hover {
      text-decoration: none;
      box-shadow: 0px 0px 10px 6px #5a5a5a; }
    .headerUser button a {
      font-size: 10pt;
      color: white;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none; }
  .headerUser .toTgBtn {
    width: 20px;
    height: 20px;
    background: no-repeat;
    background-image: url("../resource/tgLink.svg"); }
  .headerUser .logoutBtn {
    width: 20px;
    height: 20px;
    background: no-repeat;
    background-image: url("../resource/logout.svg"); }
  .headerUser .cnctdBtn {
    width: 20px;
    height: 20px;
    background: no-repeat;
    background-image: url("../resource/tgConnected.svg"); }

.content {
  display: flex;
  justify-content: center;
  flex-grow: 1; }

.dropDown {
  position: absolute;
  top: 0px;
  left: 5px;
  width: 35px;
  height: 35px;
  margin: 2.5px 0 2.5px 5px;
  display: contents; }
  .dropDown .dropBtn {
    position: inherit;
    top: 0px;
    left: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    float: none;
    width: 35px;
    height: 35px;
    margin: 2.5px 0 2.5px 5px;
    text-align: center;
    background-image: url("../resource/menu.svg");
    display: none;
    z-index: 3; }

.leftMenu {
  background-color: #e7e3e3;
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  padding: .5rem 0 0 0;
  margin: 0;
  border-right: 1.5px solid #DCDCDC; }

.leftMenuList {
  margin: 0;
  padding: 0; }

.leftMenuListElem {
  list-style-type: none; }

.leftMenuLink {
  font-size: 13pt;
  color: black;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding: .25rem 1.5rem .25rem 1.5rem;
  margin: .25rem 0 .25rem 0; }
  .leftMenuLink:hover {
    background-color: white; }
  .leftMenuLink:focus {
    background-color: #DCDCDC; }
  .leftMenuLink div {
    margin-top: .1rem; }
  .leftMenuLink button {
    padding: 0;
    border: none;
    outline: none !important;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer; }
    .leftMenuLink button:hover {
      font-size: 13pt;
      color: black;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      background-color: white; }

.all {
  padding-left: 30px;
  background: url("../resource/allTasks.svg") left center no-repeat; }

.planned {
  padding-left: 30px;
  background: url("../resource/plannedTasks.svg") left center no-repeat; }

.custom {
  padding-left: 30px;
  background: url("../resource/customTasks.svg") left center no-repeat; }

.InputList {
  font-size: 13pt;
  color: black;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding: .5rem 1.25rem .5rem 1.25rem;
  margin: 0;
  border: none;
  background-color: #e7e3e3; }
  .InputList:hover {
    background-color: white; }
  .InputList:focus {
    background-color: white;
    outline: 0; }

.Loader {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center; }

.ContentLoading {
  border: 8px solid #e7e3e3;
  /* Light grey */
  border-top: 8px solid #107915;
  /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.lists {
  display: flex;
  justify-content: left;
  flex-basis: 80%; }

.fakeLists {
  display: none; }

.ContentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
  background-color: white; }

.TaskListContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  background-color: white; }

.DescriptionContainer {
  display: flex;
  flex-direction: column;
  background-color: white; }

.TaskList {
  padding: 0;
  margin: 0; }

.TaskListTitle {
  font-size: 15pt;
  color: black;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem 1rem .5rem 1rem;
  margin: 0; }

.TaskListItems {
  padding: 0 .3rem .5rem .3rem;
  margin: 0; }

.Task {
  font-size: 12pt;
  color: black;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  padding: 0;
  margin: 0; }
  .Task:hover {
    border-top: 1px solid #e7e3e3;
    border-bottom: 1px solid #e7e3e3; }

.ChckbxWrapper {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  user-select: none;
  flex-grow: 1; }

.Chckbx {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  opacity: 0; }

.ChckbxCustom {
  cursor: pointer;
  padding: .5rem 0 .5rem 0; }
  .ChckbxCustom:before {
    content: '';
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #DCDCDC;
    border-radius: 0.25em;
    margin-right: 0.5em;
    margin-top: 0.2em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    z-index: 0; }

.Chckbx:checked ~ .ChckbxCustom::before {
  border-color: #107915;
  background-color: #107915;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"); }

.DescBtn {
  border: none;
  outline: none !important;
  padding: 0;
  margin: 0 1.5rem 0 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url("../resource/options.svg") center no-repeat; }

.RmBtn {
  border: none;
  outline: none !important;
  padding: 0;
  margin: 0 1rem 0 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url("../resource/trashcan.svg") center no-repeat; }

.InputForm {
  padding: 0 .3rem 0 .3rem;
  margin: 0; }

.InputTask {
  font-size: 12pt;
  color: black;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid white;
  padding: .5rem 0 .5rem 0;
  margin: 0; }
  .InputTask:hover {
    border-top: 1px solid #e7e3e3;
    border-bottom: 1px solid #e7e3e3; }
  .InputTask:focus {
    border-top: 1px solid #e7e3e3;
    border-bottom: 1px solid #e7e3e3;
    outline: 0; }

.TaskDescription {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: .5rem .5rem 0 .25rem;
  border-left: 1px solid #DCDCDC;
  background-color: white; }

.DescHeader {
  display: flex;
  flex-direction: row;
  width: 15vw;
  justify-content: space-between; }
  .DescHeader h1 {
    font-size: 12pt;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: .2rem 0 .2rem 0;
    margin: 0; }
  .DescHeader button {
    border: none;
    outline: none !important;
    padding: 0;
    margin: 0 .25rem .25rem 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer; }

.DescInfo {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  font-size: 12pt;
  color: black;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif; }

.DescTitle {
  text-align: center;
  margin: .25rem 0 0 0;
  font-size: 13pt;
  color: black;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif; }

.DescStatus {
  margin-top: .5rem; }

.DescReminder {
  margin-top: .5rem;
  font-size: 12pt;
  color: black;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif; }

.DescReminderForm {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .DescReminderForm input {
    font-size: 12pt;
    color: black;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif; }
  .DescReminderForm button {
    width: 20%;
    font-size: 16pt;
    color: black;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none !important;
    padding: 0;
    margin: 0 .25rem .25rem 0;
    color: inherit;
    background-color: transparent;
    cursor: pointer; }
    .DescReminderForm button:hover {
      border-left: 1px solid #e7e3e3;
      border-right: 1px solid #e7e3e3; }
  .DescReminderForm .RemindBtn {
    width: 25px;
    height: 25px;
    background: url("../resource/setNotification.svg") center no-repeat; }

@media screen and (max-width: 690px) {
  .header h1 {
    font-size: 22pt;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3.5rem; }

  .content .dropDown {
    display: contents;
    margin: 7px 0 7px 5px; }
    .content .dropDown .dropBtn {
      display: flex;
      margin: 7px 0 7px 5px; }
    .content .dropDown:focus-within .leftMenu {
      display: flex;
      flex-basis: 50%; }

  .leftMenu {
    display: none; }

  .leftMenuLink {
    font-size: 14pt;
    color: black;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 1.5rem 1rem 1.5rem; }
    .leftMenuLink:hover {
      font-size: 14pt;
      color: black;
      font-weight: normal;
      font-family: Arial, Helvetica, sans-serif;
      background-color: white; }
    .leftMenuLink:focus {
      font-size: 14pt;
      color: black;
      font-weight: normal;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #DCDCDC; }
    .leftMenuLink div {
      margin-top: .15rem; }
    .leftMenuLink button:hover {
      font-size: 14pt;
      color: black;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif; }

  .all {
    padding-left: 30px; }

  .planned {
    padding-left: 30px; }

  .custom {
    padding-left: 30px; }

  .InputList {
    font-size: 14pt;
    color: black;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 1.25rem 1rem 1.25rem; }

  .lists {
    flex-basis: 100%; }

  .TaskListTitle {
    font-size: 14pt;
    color: black;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 1rem .5rem 2rem;
    border-bottom: 1px solid #e7e3e3; }

  .TaskListItems {
    padding: 0 .5rem .5rem .5rem; }

  .Task {
    font-size: 14pt;
    color: black;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding: .5rem 0 .5rem .1rem; }

  .DescBtn {
    margin: 0 .4rem 0 .2rem; }

  .RmBtn {
    margin: 0 .1rem 0 0; }

  .InputForm {
    padding: 0 1rem 0 1rem;
    margin: 0; } }
@media screen and (max-width: 450px) {
  .header {
    flex-direction: column; }

  .headerText h1 {
    font-size: 16pt;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 4.5rem; }

  .headerUser {
    flex-direction: row;
    justify-content: space-between; }
    .headerUser h3 {
      font-size: 12pt;
      color: white;
      font-weight: normal;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0 0 .5rem 4.5rem;
      margin: 0;
      background: url(""); }
    .headerUser button {
      border-radius: 0;
      border-left: 1px solid #e7e3e3;
      margin: 0 0 .4rem .25rem;
      padding: .1rem 1.5rem .1rem .5rem; }
      .headerUser button:hover {
        border-top: none;
        border-bottom: 1px solid #e7e3e3; }

  .dropDown {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    margin: 25px 0 25px 5px;
    display: contents; }
    .dropDown .dropBtn {
      position: inherit;
      top: 5px;
      left: 5px;
      border: none;
      outline: none;
      background-color: transparent;
      float: none;
      width: 50px;
      height: 50px;
      margin: 25px 0 25px 5px;
      text-align: center;
      background-image: url("../resource/menu.svg");
      display: none; }

  .content .dropDown {
    display: contents;
    margin: 2.5px 0 2.5px 5px; }
    .content .dropDown .dropBtn {
      display: flex;
      margin: 2.5px 0 2.5px 5px; }
    .content .dropDown:focus-within .leftMenu {
      display: flex;
      flex-grow: 1;
      width: 65%;
      box-shadow: 0px 0px 30px 6px gray;
      z-index: 1; }

  .dropDown:hover ~ .lists {
    display: none; }

  .dropDown:hover ~ .fakeLists {
    font-size: 28pt;
    color: gray;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: #faf9f9;
    writing-mode: vertical-lr;
    align-items: center; }

  .Task:hover {
    border-color: white; } }

/*# sourceMappingURL=styles.css.map */
