@mixin textStyle($size: 12pt, $color: $textColor, $weight: normal) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
    font-family: Arial, Helvetica, sans-serif;
}

@mixin setMrPd(){
    margin: 0;
    padding: 0;
}